.PostBody {
	font-size: 1.1rem;
	line-height: 1.6;
	margin-bottom: 2rem;
}

.PostBody a {
	color: var(--color-link);
}

.PostBody a:hover {
	color: var(--color-red-on-bg);
}

.PostBody pre {
	background-color: var(--color-code-background);
	border: 1px solid var(--color-grey);
	border-radius: 3px;
	line-height: 1.2;
	padding: 1rem;
	/* padding-bottom: 0; */
	word-wrap: normal;
	overflow: auto;
}

.PostBody pre code {
	padding: 0;
	border: none;
	font-family: var(--code-font);
	font-size: 1.2rem;
}

.PostBody code {
	font-family: monospace;
	border: 1px solid #7f7f7f;
	border-radius: 3px;
	font-size: 1rem;
	padding: 0.1rem 0.3rem;
}
