.PostBody {
	font-size: 1.1rem;
	line-height: 1.6;
	margin-bottom: 2rem;
}

.PostBody a {
	color: var(--color-link);
}

.PostBody a:hover {
	color: var(--color-red-on-bg);
}

.PostBody pre {
	position: relative;
	background-color: var(--color-code-background);
	border: 1px solid var(--color-grey);
	border-radius: 3px;
	line-height: 1.2;
	padding: 1rem;
	word-wrap: normal;
	overflow: auto;
	overflow-y: hidden;
}

.PostBody pre.twoslash {
	padding: 1.5rem 1rem;
}

.PostBody pre code {
	padding: 0;
	border: none;
	font-family: var(--code-font);
	font-size: 1.2rem;
}

.PostBody p code {
	font-family: monospace;
	border: 1px solid #7f7f7f;
	border-radius: 3px;
	font-size: 1rem;
	padding: 0.1rem 0.3rem;
	white-space: nowrap;
}

.PostBody pre.twoslash data-lsp:hover::before {
	border: 1px solid var(--color-grey);
	transform: translate(-1rem, 1.4rem);
	font-family: var(--code-font);
	font-size: 1.2rem;
	width: max-content;
	box-sizing: border-box;
	padding: 0.125rem 0.25rem;
}
