<ul>
    <li><a class="" href="https://twitter.com/romaindurand">Twitter</a></li>
    <li><a class="" href="https://youtube.com/romaindurand">Youtube</a></li>
    <li><a class="" href="https://github.com/romaindurand">Github</a></li>
    <li><a class="" href="https://www.linkedin.com/in/romain-durand-35640a37">LinkedIn</a></li>
    <li><a class="" href="https://www.facebook.com/romaindurand89">Facebook</a></li>
    <li><a class="" href="http://romaindurand.deviantart.com/">DeviantArt</a></li>
    <li><a class="" href="http://romaindurand.tumblr.com/">Tumblr</a></li>
</ul>