<div id="menuContainer">
    <ul id="menu">
        {{#menuItems}}
        <li{{#active}} class="active"{{/active}}><a href="{{{path}}}">{{menuLabel}}</a></li>
        {{/menuItems}}
    </ul>
</div>